@model IEnumerable<Chinlike.Models.Product>
<section class="space-bottom-3">
    <div class="banner mb-5">
        <div class="container">
            <header class="mb-5">
                <h2 class="font-size-7 font-weight-medium" style="color: cornflowerblue;">Sản Phẩm Mới Cập Nhật</h2>
            </header>
            <div class="bg-indigo-light px-xl-11 px-3 px-md-6 px-lg-5 py-6 py-xl-8 rounded-0" style="background: url(/assets/img/ImagesBody/bg1.jpg); height: 530px;" >
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="js-slick-carousel products no-gutters border-top border-left border-right" data-pagi-classes="text-center position-absolute right-0 left-0 u-slick__pagination mt-4 mb-0" data-arrows-classes="d-none u-slick__arrow u-slick__arrow-centered--y" data-arrow-left-classes="fas fa-chevron-left u-slick__arrow-inner u-slick__arrow-inner--left ml-lg-n10" data-arrow-right-classes="fas fa-chevron-right u-slick__arrow-inner u-slick__arrow-inner--right mr-lg-n10" data-slides-show="5" data-responsive='[{
                   "breakpoint": 1500,
                   "settings": {
                     "slidesToShow": 4
                   }
                },{
                   "breakpoint": 1199,
                   "settings": {
                     "slidesToShow": 3
                   }
                },{
                   "breakpoint": 992,
                   "settings": {
                     "slidesToShow": 2
                   }
                }, {
                   "breakpoint": 768,
                   "settings": {
                     "slidesToShow": 1
                   }
                }, {
                   "breakpoint": 554,
                   "settings": {
                     "slidesToShow": 1
                   }
                }]'>
            @foreach (var product in Model.OrderBy(x => x.NgayCapNhat).Reverse())
            {
                <div class="product">
                    <div class="product__inner overflow-hidden p-3 p-md-4d875">
                        <div class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                            <div class="woocommerce-loop-product__thumbnail" style="height: 320px;">
                                <a href="@Url.Action("Chitietsanpham", "Body", new { id = product.MaP })" class="d-block"><img src="~/assets/img/ImagesBody/@product.Anh" class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid" alt="image-description"></a>
                            </div>
                            <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                                <h2 class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark"><span>@product.TenP</span> </h2>
                                <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                    <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span>@product.Gia</span>.000đ
                                </div>
                            </div>
                            <div class="product__hover d-flex align-items-center">
                                <a href="@Url.Action("ThemGiohang", "GioHang", new { @iMaP = product.MaP, @strURL = Request.Url.ToString() })" class="text-uppercase text-dark h-dark font-weight-medium mr-auto">
                                    <span class="product__add-to-cart">MUA NGAY</span>
                                    <span class="product__add-to-cart-icon font-size-4"><i class="flaticon-icon-126515"></i></span>
                                </a>
                                <a href="@Url.Action("ThemSanPhamThich","Thich", new { @iMaP = product.MaP, @strURL = Request.Url.ToString() })" class="h-p-bg btn btn-outline-primary border-0">
                                    <i class="flaticon-heart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>